* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a{
    color:#fff;
    text-decoration:none;
}
a,button,input{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "微软雅黑";
    background-color: #f5f5f5;
}
.wrap {
    width: 100%;
    margin: 0 auto;
}

/********************/
.supply-header{
    width:100%;
    height: 48px;
    background:#bf6e09;
}
.passion a{
    line-height: 70px;
    margin-left: 20px;
}
.passion img{
    width: 15px;
    height: 20px;
    position: relative;
    top:-6px;
}
.passion span{
    color:#fff;
    position: relative;
    font-size: 18px;
    left: 10px;
    top:-10px;
}
.brief-introduction {
    background: #fff;
    height:120px;
}
.head-portrait {
    float: left;
    position: relative;
    left: 10px;
    top:10px;

}
.head-portrait img{
    width: 80px;
    height: 80px;
}
.head-portrait p{
    color:#6D6B66;
    margin-left: 18px;
    font-size: 14px;
}
.supply-message{
    float: left;
    position: relative;
    left:30px;
    top:10px;
}
.supply-message .apple{
    font-size: 18px;
    height:25px;
}
.supply-message .location{
    font-size: 14px;
    height: 35px;
    color:#787670;
}
.supply-message .machinery{
    font-size: 14px;
    height: 25px;
    color:#787670;
}
.supply-message .element-hour{
    font-size: 18px;
    height: 25px;
    color:#787670;
}
/**************/
.skip{
    float: left;
    width: 100%;
    height: 50px;
    background: #fff;
}
.skip-category{
    float: left;
    width: 90%;
    height: 45px;
    margin:0 5% 0 5%;
    border-top:1px solid #F8F7F6;
    border-bottom:1px solid #F8F7F6;
}
.skip .describe{
    float: left;
    width:50%;
    height: 40px;
    font-size: 15px;
    color:#4A4A48;
    line-height: 40px;
    text-align: center;
}
.skip .information {
    float: left;
    width: 50%;
    height: 40px;
    font-size: 15px;
    color: #4A4A48;
   border-bottom: 5px solid #FF5B00;
    line-height: 40px;
    text-align: center;
}
/************/
.issue-location{
    float: left;
    width: 97%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: #fff;
    color:#434340;
    padding-left:3%;
}
.map{
    width: 100%;
    height: 300px;
}
.map img{
    float: left;
    width: 100%;
}
/********************/
.issue{
    float: left;
    width: 97%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: #fff;
    color:#434340;
    padding-left:3%;
}
/*************/
.second-ring{
    float: left;
    width: 100%;
    height:100px;
    background: #fff;
}
.water-storage{
    width: 94%;
    height: 70px;
    padding:10px 3% 10px 3%;
    border-top:1px solid #F8F7F6;
    border-bottom:1px solid #F8F7F6;
}
.water-storage .loop{
    margin-left: 20px;
    font-size: 14px;
    color:#3B3C3B;
}
.water-storage .install{
    margin-left: 20px;
    font-size: 14px;
    color:#8B8985;
}
/*******/
.second-orientation{
    float: left;
    position: relative;
    margin-top: 5px;
}
.second-orientation span{
    float: left;
    font-size: 14px;
    color:#61605B;
    /*margin-left: 30px;*/
}
.second-meter{
    margin-left: 10px;
}
.second-district{
    margin-left:40px;
}
.second-orientation img{
    float: left;
    width: 25px;
    height:25px;
    position: absolute;
    bottom:-6px;
    left:15px;
}
/*******/
.second-machine{
    float: left;
    width: 100%;
    height:90px;
    background: #fff;
}
.machine-storage{
    width: 94%;
    height: 64px;
    padding:0px 3% 0px 3%;

}
.machine-storage .loop{
    margin-left: 20px;
    font-size: 14px;
    color:#3B3C3B;
}
.machine-storage .install{
    margin-left: 20px;
    font-size: 14px;
    color:#8B8985;
}
/************/
.supply-recommend{
    margin-top: 10px;
    float: left;
    width:100%;
    height: 50px;
    line-height: 50px;
    background: #fff;
}
.same-kind a{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.same-kind img{
    width:20px;
    height: 20px;
    position: relative;
    top:3px;
}
.same-kind span{
    color:#605F5B;
    position: relative;
    font-size: 15px;
    left: 10px;
}
/*********/
.second-examine{
    float: left;
    width: 100%;
    height: 60px;
}
.second-examine a{
    float: left;
    width: 55%;
    height: 33px;
    background: #FE7E00;
    line-height: 33px;
    border-radius:10px ;
    margin:10px 20% 10px 20%;
    padding-left:5% ;
}
.second-examine a img{
    float: right;
    width: 20px;
    height: 20px;
    position:relative;
    right:34px;
    top:8px;
}