/*全局变量  */
.height20px{
	height:20px;
}
.red{
	color:red;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
*{
	margin:0;
	padding:0;
}
.text-center{
	text-align:center ;
	margin:0 auto;
}
body{
	font-family: "Microsoft YaHei UI";
	background: #F3F3F3;
}
.hidden{
	display: none;
}
.padding-left-10px{
	padding-left:10px;
}
/*tab 选中边框  */
.weui_bar_item_on{
	border-bottom:5px solid #E54E1F;
	background: #ffffff;
}
/* 首页开始 */
#header{
	height:150px;
	background: #BF6E09;
	padding: 0 15px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
 .head_img img{
	width: 80px;
	height:80px;
	-webkit-border-radius:41px;
	-moz-border-radius:41px;
	border-radius:41px;
	margin-right: 5px;
	border:2px solid #ffffff;
	display: block;
}
#header  .header-a-1{
	width:80%;
}
#header  .header-a-2{
	width:20%;
}
#header .head_title{
	color: #ffffff;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
#header .head_title p{
}
#header .head_job{
	position: relative;
	text-align: center;
	color: #ffffff;
}
/*首页头部结束  */
#main{
	margin-top: 15px;
}
#main .menu_4{
	background: #fff;
	padding:10px 15px;
	text-align: center;
	border-bottom: 1px solid #D7D4D4;
}
#main .menu_4_box{
	position: relative;
}
#main .menu_4_box img{
	display: block;
	width:40%;
	margin:0 auto;
	padding:5px 0;
}
 #main .menu_4_box .icon_num_float{
	 border:2px solid #ffffff;
	 -webkit-border-radius:	11px ;
	 -moz-border-radius:11px;
	 border-radius:11px;
	 position: absolute;
	 top:2%;
	 right: 18%;
 }

#main .icon_num{
	display: block;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background: red;
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	width:20px;
	text-align: center;
}
.menu_order{
	border-top:1px solid #D7D4D4;
}
.menu_order:after{
	left:15px;
	right:15px;
	border-bottom: 1px solid #CBCBCB;
}
/* 首页结束 */
/* 我的需求 */
 .title{
	font-family:"Arial Normal", "Arial";
}
 .description{
	font-family:"Arial Normal", "Arial";
 	font-size:0.8em;
 	color: #999999;
}
.description span{
	margin-right:50px;
}
/* 固定尾部开始    与张涛做的css代码一致*/

.bottom_menu {
    height: 50px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    display: -webkit-box;
}
.bottom_menu .home {
    background:url("../Img/footer/home.png") no-repeat center 8px; 
   /*  background:url("../Img/footer/index-footer-icon.png") no-repeat;
	background-position:-80px 10px;   */
    background-size: 22px 22px; 
}
.bottom_menu a {
    display: block;
    -webkit-box-flex: 1;
    padding-top: 30px;
    text-align: center;
    color: #888;
    font-size: 14px;
}
.bottom_menu .cart {
    background: url(../Img/footer/supply.png) no-repeat center 8px;
    background-size: 22px 22px;
    position: relative;
}
.bottom_menu .center {
    background: url(../Img/footer/center.png) no-repeat center 8px;
    background-size: 22px 22px;
}
/* 固定尾部 结束*/
/* 地址管理 开始*/
.region-main{
	color:#464646;
	width:400px;
}
.region-title{
	margin-bottom:10px;
	width:500px;
}
.region-title #tel{
	margin-left:200px;
}
.region-right img{
	float:right;
}
.region-form{
	font-size:12px;
	color:#464646;
}
/* 地址管理 结束*/
/* 我的订单管理 开始*/
.myOrder .weui-navbar__item{
	border:0px;
	background-color: #FFFFFF;
}
.myOrder .weui-bar__item_on{
	border-bottom:5px solid #E54E1F;
	background-color: #FFFFFF;
}
/* 我的订单 结束*/
/* 基本信息修改*/
.info-head{
	height:100px;
	padding: 0 15px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.info-head .head_img{
	width:100px;
	position:absolute;left:35%;
}
/* 基本信息 结束*/
/* 我的订单 开始*/
.order-foot{
	border-top: 1px solid #CCCCCC ;
	border-bottom: 1px solid #CCCCCC ;
	height:60px;
	padding-top:15px;
}
.order-title{
	height:60px;
	padding-top:15px;
}
.order-del{
	height:60px;
}
.cb.disabled {
	border: 2px solid #898989;
}
.cb {
	width: 18px;
	height: 18px;
	border: 3px solid #333333;
	display: inline-block;
	cursor: pointer;
	color: #9b0e0e;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	position: relative;
	margin-right:8px;
}
.button-pay{
	border:1px solid red;
	color:red;
}
/* 我的订单 结束*/
/* 我的收藏*/
#main .collect_count{
    background: #fff;
    padding:20px;
    height:50px;
}
#main .collect_count img{
    width:50px;
    height:50px;
    display: inline-block;
    float: left;
}
#main .collect_count{
	color:#eb8f1b;
}
#main .collect_count .count-left{
	margin-top:15px;
	margin-left:20px;
	font-size:0.8em;
}
#main .collect_count .count_number{
	margin-top:5px;
	margin-left:20px;
	margin-right:10px;
}

/* 我的收藏结束*/
/*设置开始*/
.setting a{
	color:#888;
}
/* 设置结束*/
/* 关于我们开始*/
.about-content{
	background-color:#FCF7F1;
}
/* 关于我们结束*/
