/*公共部分的css  全部文件都引入的部分*/
body{
}
/* 公共返回头部 */
#topback-header {
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    clear: both;
    text-align: center;
    width: 100%;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	background-color:#bf6e09;
	height: 48px;
	color: #ffffff;
}
#topback-header   .header-left .icon-xiangzuo{
	font-size:25px;
}
#topback-header   .header-left .title{
	font-size:18px;
	font-family: "微软雅黑 Regular";
}
#topback-header   .header-left {
    height: 48px;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 10px;
	color: #ffffff;
}
#topback-header  #header-right{
	box-sizing: border-box;
    height: 48px;
    margin-top: 0;
    margin-right: 10px;
	padding-top:10px;
	float:right;
}
#topback-header  #header-right a{
	color: #ffffff;
	font-size:18px;
	font-family: "微软雅黑 Regular";
}
/* 按钮 */
#btn-custom-theme{
	 background-color: #bd6600;
	margin-left:20px;
	margin-right:20px;
}