#login{
	 background: url(../Img/login/login-bc.png) no-repeat center;
	background-size:100% 100%; 
	background-attachment: fixed;" 
}
.login-content{
	background-color:#FDF8F2;
}
#login .weui-row{
	padding-left:10px;
	background-color:#FDF8F2;
}
.logo{
	clear:both;
	width:200px;
	padding-top:25px;
	text-align:center;
}
.logo img{
	margin:auto;
	clear:both;
}
.login-form .weui_cell{
/* 	border-bottom:1px solid #595757; */
	margin-bottom:2px;
	background-color:#FDF8F2;
}
.reg-forgetpassword a{
	color:#595856;
	margin-left:30%;
}
